body {
  --grid-gap: 20px;
  --collection-header-border: none;
  --padding-layout: 0.5rem;
  --column-spacing: 0px !important;
  --callout-padding: var(--padding-layout) calc(var(--padding-layout) * 2);
}
@media (min-width: 576px) {
  body {
    --grid-gap: calc(5.20833333vw - 9.9999999808px);
  }
}
@media (min-width: 768px) {
  body {
    --grid-gap: calc(4.46428571vw - 4.2857142528px);
  }
}
@media (min-width: 992px) {
  body {
    --grid-gap: 40px;
  }
}

.notion-root {
  overflow: hidden;
}

.notion-heading {
  margin-top: 0;
  padding: 0;
}

.notion-semantic-string {
  white-space: normal;
  line-height: inherit !important;
  display: inline;
}

h1.notion-heading {
  line-height: calc(0.025em + 2.2ex);
  font-weight: bold;
}
h1.notion-heading::before, h1.notion-heading::after {
  content: "";
  display: block;
  height: 0;
  width: 0;
}
h1.notion-heading::before {
  margin-bottom: calc(-0.1722222222em + 0px);
}
h1.notion-heading::after {
  margin-top: calc(-0.2277777778em + 0px);
}
h1.notion-heading .notion-semantic-string > span:first-child {
  display: block;
}

strong {
  font-weight: 700;
}

.notion-collection-list__item-property {
  padding: 0;
}

.notion-callout {
  background-color: var(--color-text-default);
  color: #FFF;
  font-family: var(--primary-font);
  display: inline-block;
  width: auto;
}
.notion-callout .notion-callout__content {
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  width: auto;
  display: inline-block;
}

.notion-heading {
  font-family: var(--secondary-font);
}

.notion-property__title {
  font-family: var(--secondary-font);
}

.notion-column-list {
  width: calc(100% + var(--grid-gap) * 2);
  margin-left: calc(var(--grid-gap) * -1);
  margin-right: calc(var(--grid-gap) * -1);
}
@media (max-width: 960px) {
  .notion-column-list {
    --grid-gap: 0px;
  }
  .notion-column-list .notion-column {
    width: 100% !important;
  }
}
.notion-column-list .notion-column {
  -webkit-margin-start: 0 !important;
          margin-inline-start: 0 !important;
  padding-left: var(--grid-gap);
  padding-right: var(--grid-gap);
  border-bottom: var(--border-layout);
}
.notion-column-list .notion-column > .notion-heading:first-of-type {
  margin-top: 0;
}
@media (max-width: 960px) {
  .notion-column-list .notion-column {
    --column-spacing: 0px;
    width: 100% !important;
  }
}
@media (min-width: 960px) {
  .notion-column-list .notion-column:not(:first-child) {
    border-left: var(--border-layout);
  }
}

#block-skills .notion-collection-list {
  flex-flow: row wrap;
}
#block-skills .notion-collection-list__item {
  width: auto;
}
#block-skills .notion-toggle__trigger {
  display: none;
}
#block-skills .notion-toggle__trigger + .notion-property .notion-pill {
  background-color: transparent;
  font-size: var(--heading4-size);
  font-weight: 700;
}

#block-jobs .notion-collection-list__item {
  flex-direction: column;
  position: relative;
  padding-left: 40px !important;
}
#block-jobs .notion-collection-list__item-anchor {
  display: none;
}
#block-jobs .notion-property__title {
  width: 100%;
  font-size: var(--heading4-size);
  font-weight: 700;
}
#block-jobs .notion-property__title .notion-property__title__icon-wrapper {
  display: none;
}
#block-jobs .notion-property__title .notion-semantic-string {
  width: 100%;
  font-size: var(--heading4-size);
  font-weight: 700;
}
#block-jobs .notion-property__title .notion-semantic-string > span {
  border-bottom: none;
}
#block-jobs .notion-property.notion-property__text.property-71684677 {
  font-size: var(--heading5-size);
  font-style: italic;
  color: var(--color-purple);
}
#block-jobs .notion-property.notion-property__text.property-3c3c7342 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%) rotate(-90deg);
  transform-origin: top left;
}
#block-jobs .notion-property.notion-property__text.property-5d684e45 {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: rotate(-90deg);
  transform-origin: bottom left;
}
#block-jobs .notion-collection-list__item-content {
  flex-direction: column;
  width: 100%;
}
#block-jobs .notion-collection-list__item-property {
  width: 100%;
}
#block-jobs .notion-collection-list__item-content {
  flex-direction: column;
  width: 100%;
}
#block-jobs .notion-collection-list__item-content .notion-property__text {
  max-width: 100%;
}
#block-jobs .notion-collection-list__item-content .notion-property__text .notion-semantic-string {
  display: block;
  white-space: normal;
  width: 100%;
  word-break: normal;
}
#block-jobs .notion-collection-list__item-content .notion-property__text .notion-semantic-string span {
  white-space: normal;
  width: 100%;
  word-break: normal;
  display: block;
}