/// ======================================================================== //
/// @name   _type-styles
/// @group  mixins
/// @since  <<projectversion>>
/// ======================================================================= ///
///
///

%remove-link {
	&:hover {
		background-color: transparent;
		cursor: unset;
	}

	&:focus {
		background-color: transparent;
		cursor: unset;
	}

	.notion-collection-list__item-anchor {
		display: none;
	}

	.notion-property__title {
		.notion-semantic-string {
			text-overflow: unset;
			margin-inline-start: 0;
			margin-inline-end: 0;
			font-weight: normal;

			> span {
				border-bottom: none;
			}
		}
	}
}

// ------------------------------- Icon Fonts ------------------------------- //

@mixin icon($icon-font-family) {
	@include reset-text;

	font-family: $icon-font-family !important;
	speak: none;
	text-rendering: optimizeLegibility;
	line-height: 2ex;
	display: inline-block;
	transition: $transition-base;
	font-feature-settings: 'liga';
	font-variant-ligatures: discretionary-ligatures;
	font-smoothing: antialiased;
}

@mixin icon-content($icon, $font-family: 'Font Awesome 5 Free') {
	@include icon($font-family);

	content: quote($icon);
}

@mixin bs-icon($icon) {
	$icon: map-get($bootstrap-icons-map, $icon);

	@include icon-content($icon, 'bootstrap-icons');
}
