@import 'global';
@import '~normalize-scss';

%remove-link {
	&:hover{
		background-color: transparent;
		cursor: unset;
	}

	&:focus{
		background-color: transparent;
		cursor: unset;
	}

	.notion-collection-list__item-anchor {
		display: none;
	}

	.notion-property__title {
		.notion-semantic-string {
			text-overflow: unset;
			margin-inline-start: 0;
			margin-inline-end: 0;
			font-weight: normal;

			> span {
				border-bottom: none;
			}
		}
	}
}

body {
	$map: (
		576px: 20px,
		768px: 30px,
		992px: 40px,
	);
	@include poly-fluid-sizing('--grid-gap', $map);

	--collection-header-border: none;
	--column-spacing: 0px !important;
	--callout-padding: var(--padding-layout) calc(var(--padding-layout) * 2);
}

.notion-root {
	overflow: hidden;
}

.notion-heading {
	margin-top: 0;
	padding: 0;
	font-family: var(--secondary-font);
}

.notion-semantic-string {
	white-space: normal;
	line-height: inherit !important;
	display: inline;
}

h1.notion-heading {
	@include poppins-text-crop(1.1)
	font-weight: bold;

	.notion-semantic-string {
		> span:first-child {
			display: block;
		}
	}

}

strong {
	font-weight: 700;
}

.notion-collection-list__item-property {
	padding: 0;
}

.notion-callout {
	@include mono-text-crop(1);

	background-color: var(--color-text-default);
	color: #fff;
	font-family: var(--primary-font);
	display: inline-block;
	width: auto;
	font-weight: bold;

	.notion-callout__content {
		margin-inline-start: 0;
		width: auto;
		display: inline-block;
		line-height: inherit;
	}
}

.notion-property__title {
	font-family: var(--secondary-font);
}

.notion-column-list {
	width: calc(100% + var(--grid-gap) * 2);
	margin-left: calc(var(--grid-gap) * -1);
	margin-right: calc(var(--grid-gap) * -1);

	@media (max-width: 960px) {
		--grid-gap: 0px;

		.notion-column {
			width: 100% !important;
		}
	}

	.notion-column {
		margin-inline-start: 0 !important;
		padding-left: var(--grid-gap);
		padding-right: var(--grid-gap);
		border-bottom: var(--border-layout);

		> .notion-heading:first-of-type {
			margin-top: 0;
		}

		@media (max-width: 960px) {
			--column-spacing: 0px;

			width: 100% !important;
		}

		@media (min-width: 960px) {
			&:not(:first-child) {
				border-left: var(--border-layout);
			}
		}
	}
}

#block-skills {
	.notion-collection-list {
		flex-flow: row wrap;
	}

	.notion-collection-list__item {
		@extend %remove-link;

		width: auto;

	}

	.notion-toggle__trigger {
		display: none;
	}

	.notion-toggle__trigger + .notion-property .notion-pill {
		background-color: transparent;
		font-size: var(--heading4-size);
		font-weight: 700;
	}
}

#block-jobs {
	.notion-collection-list__item {
		@extend %remove-link;

		flex-direction: column;
		position: relative;
		padding-left: 40px !important;
	}

	.notion-property__title {
		width: 100%;
		font-size: var(--heading4-size);
		font-weight: 700;

		.notion-property__title__icon-wrapper {
			display: none;
		}

		.notion-semantic-string {
			width: 100%;
			font-size: var(--heading4-size);
			font-weight: 700;
		}
	}

	.notion-property.notion-property__text {
		&.property-71684677 {
			font-size: var(--heading5-size);
			font-style: italic;
			color: var(--color-purple);
		}

		// end date
		&.property-3c3c7342 {
			position: absolute;
			top: 0;
			left: 0;
			transform: translateX(-100%) rotate(-90deg);
			transform-origin: top left;
		}

		//start-date
		&.property-5d684e45 {
			position: absolute;
			bottom: 0;
			left: 0;
			transform: rotate(-90deg);
			transform-origin: bottom left;
		}
	}

	.notion-collection-list__item-property {
		width: 100%;
	}

	.notion-collection-list__item-content {
		flex-direction: column;
		width: 100%;

		.notion-property__text {
			max-width: 100%;

			.notion-semantic-string {
				display: block;
				white-space: normal;
				width: 100%;
				word-break: normal;

				span {
					white-space: normal;
					width: 100%;
					word-break: normal;
					display: block;
				}
			}
		}
	}
}
