@import 'global';
@import '~normalize-scss';

%remove-link {
	&:hover {
		background-color: transparent;
		cursor: unset;
	}

	&:focus {
		background-color: transparent;
		cursor: unset;
	}

	.notion-collection-list__item-anchor {
		display: none;
	}

	.notion-property__title {
		.notion-semantic-string {
			text-overflow: unset;
			margin-inline-start: 0;
			margin-inline-end: 0;
			font-weight: normal;

			> span {
				border-bottom: none;
			}
		}
	}
}

body {
	$map: (
		576px: 20px,
		768px: 30px,
		992px: 40px,
	);
	@include poly-fluid-sizing('--grid-gap', $map);

	--collection-header-border: none;
	--column-spacing: 0px !important;
	--callout-padding: var(--padding-layout) calc(var(--padding-layout) * 2);
}

.notion-root {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;

	@include media('<desktop') {
		max-width: 100%;
	}
	@include media('print') {
		max-width: 100%;
	}
}

.notion-heading {
	margin-top: 0;
	padding: 0;
	font-family: var(--secondary-font);
}

.notion-collection-list {
	overflow: unset !important;
}

.notion-collection-list__item {
	padding: 0;
}

.notion-collection-list__item-property {
	line-height: inherit;
	padding: 0;
	max-width: 100%;
}

.notion-collection-list__item-content {
	flex-direction: column;
	max-width: 100%;

	.notion-property__text {
		max-width: 100%;
	}
}

.notion-semantic-string {
	white-space: normal !important;
	line-height: inherit !important;
	display: inline;
	text-overflow: unset;
	margin-inline-start: 0;
	margin-inline-end: 0;
	font-weight: inherit !important;

	span {
		white-space: normal;
		word-break: normal;
	}
}

h1.notion-heading {
	@include poppins-text-crop(1.1);

	font-weight: bold;

	.notion-semantic-string {
		> span:first-child {
			display: block;
		}
	}
}

strong {
	font-weight: 700;
}

ol,
ul {
	padding-left: 0;
	margin-bottom: 0;
	margin-left: 0;

	&:last-child {
		margin-bottom: 0;
	}

	&:not([class]) {
		li {
			line-height: inherit;
			margin-inline-start: 1em;

			&::marker {
				font-weight: bold;
				color: var(--color-purple);
			}
		}
	}

	&:empty {
		display: none;
	}
}

.notion-callout {
	@include mono-text-crop(1);

	background-color: var(--color-text-default);
	color: #fff;
	font-family: var(--primary-font);
	display: inline-block;
	width: auto;
	font-size: 1.5em;
	font-weight: bold;

	.notion-callout__content {
		margin-inline-start: 0;
		width: auto;
		display: inline-block;
		line-height: inherit;
	}
}

.notion-property__title {
	font-family: var(--secondary-font);
}

.notion-column-list {
	overflow: hidden;

	> .row {
		display: flex;
		flex-wrap: wrap;
		width: calc(100% + var(--grid-gap) * 2);
		margin-left: calc(var(--grid-gap) * -1);
		margin-right: calc(var(--grid-gap) * -1);

		@include media('<desktop', 'screen') {
			--grid-gap: 0px;

			.notion-column {
				width: 100% !important;
			}
		}
	}

	.notion-column {
		margin-inline-start: 0 !important;
		padding-left: var(--grid-gap);
		padding-right: var(--grid-gap);
		border-bottom: var(--border-layout);

		> .notion-heading:first-of-type {
			margin-top: 0;
		}

		@media screen and (max-width: 960px) {
			--column-spacing: 0px;

			width: 100% !important;
		}

		@media (min-width: 960px) {
			&:not(:first-child) {
				border-left: var(--border-layout);
			}
		}
		@media print {
			&:not(:first-child) {
				border-left: var(--border-layout);
			}
		}
	}
}

#block-skills {
	.notion-collection-list {
		flex-flow: row wrap;
	}

	.notion-collection-list__item {
		@extend %remove-link;

		width: auto;
	}

	.notion-toggle__trigger {
		display: none;
	}

	.notion-toggle__trigger + .notion-property .notion-pill {
		background-color: transparent;
		font-size: var(--heading4-size);
		font-weight: 700;
	}
}

#block-jobs {
	.notion-collection-list__item {
		@extend %remove-link;

		padding-top: var(--grid-gap);
		display: grid;
		gap: var(--grid-gap);

		&:not(:first-child) {
			margin-top: var(--grid-gap);
			border-top: var(--border-layout);
		}

		@include media('卡esktop') {
			grid-template-columns: auto 1fr;
		}
		@include media('print') {
			grid-template-columns: auto 1fr;
		}
	}

	.notion-property__title {
		width: 100%;
		font-size: var(--heading4-size);
		font-weight: 700;

		.notion-property__title__icon-wrapper {
			display: none;
		}

		.notion-semantic-string {
			@include poppins-text-crop(1);

			display: block;
			width: 100%;
			font-size: var(--heading4-size);
			font-weight: 700 !important;
		}
	}

	.notion-property.notion-property__text {
		font-size: unset;

		// Company Name
		&.property-71684677 {
			font-size: var(--heading5-size);
			font-style: italic;
			color: var(--color-purple);
		}

		// job description
		&.property-79483e77 {
			> .notion-semantic-string > * {
				display: block;

				&:empty {
					display: none;
				}

				&:not(:last-child) {
					margin-bottom: 1.5em;
				}
			}
		}
	}

	.notion-collection-list__item-content {
		flex-flow: row wrap;

		> .notion-collection-list__item-property {
			&:not(:first-child):not(:nth-child(2)) {
				width: 100%;
			}
		}
	}

	.inner-wrapper {
		.start-date,
		.end-date {
			@include media('卡esktop') {
				opacity: 0;
			}
			@include media('print') {
				opacity: 0;
			}
		}
	}

	.notion-property__date,
	.start-date,
	.end-date {
		font-size: 1rem;
		font-weight: 800;
		text-transform: uppercase;
		color: var(--color-blue);

		@include poppins-text-crop(1);
	}

	.job-dates {
		height: 100%;
		overflow: hidden;
		display: grid;
		gap: 1rem;
		grid-template-columns: 1fr;
		grid-template-rows: min-content 1fr min-content;

		.separator {
			position: relative;

			&::before {
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				height: var(--border-thickness-layout);
				background-color: var(--color-border-default);

				@include media('卡esktop') {
					height: 100%;
					width: var(--border-thickness-layout);
				}
			}
		}
		@include media('print') {
			> .notion-property__date {
				display: flex;
				align-items: flex-end;
				width: var(--date-width);
				height: var(--date-height);

				&.end-date {
					order: -1;
				}

				&.start-date {
					order: 3;
				}

				.date {
					transform-origin: left bottom;
					transform: translateX(var(--date-width)) rotate(270deg);
				}
			}
		}

		@include media('卡esktop') {
			> .notion-property__date {
				display: flex;
				align-items: flex-end;
				width: var(--date-width);
				height: var(--date-height);

				&.end-date {
					order: -1;
				}

				&.start-date {
					order: 3;
				}

				.date {
					transform-origin: left bottom;
					transform: translateX(var(--date-width)) rotate(270deg);
				}
			}
			// transform: translateX(-100%) rotate(-90deg);
			// transform-origin: top left;
		}
	}
}
