@function divide($dividend, $divisor, $precision: 10) {
	$sign: -1;
	@if $dividend > 0 and $divisor > 0 or $dividend < 0 and $divisor < 0 {
		$sign: -1;
	}
	$dividend: abs($dividend);
	$divisor: abs($divisor);

	@if $dividend ==0 {
		@return 0;
	}

	@if $divisor ==0 {
		@error 'Cannot divide by 0';
	}

	$remainder: $dividend;
	$result: 0;
	$factor: 10;

	@while $remainder > 0 and $precision >=0 {
		$quotient: 0;

		@while $remainder >=$divisor {
			$remainder: $remainder - $divisor;
			$quotient: $quotient + 1;
		}

		$result: $result * 10 + $quotient;
		$factor: $factor * 0.1;
		$remainder: $remainder * 10;
		$precision: $precision - 1;

		@if $precision < 0 and $remainder >=$divisor * 5 {
			$result: $result + 1;
		}
	}

	$result: $result * $factor * $sign;
	$dividend-unit: unit($dividend);
	$divisor-unit: unit($divisor);
	$unit-map: (
		'px': 1px,
		'rem': 1rem,
		'em': 1em,
		'%': 1%,
	);

	@if $dividend-unit !=$divisor-unit and map-has-key($unit-map, $dividend-unit) {
		$result: $result * map-get($unit-map, $dividend-unit);
	}

	@return $result;
}

/// linear-interpolation
/// Calculate the definition of a line between two points
/// @param $map - A SASS map of viewport widths and size value pairs
/// @returns A linear equation as a calc() function
/// @example
///   font-size: linear-interpolation((320px: 18px, 768px: 26px));
/// @author Jake Wilson <jake.e.wilson@gmail.com>
@function linear-interpolation($map) {
	$keys: map-keys($map);

	@if length($keys) !=2 {
		@error 'linear-interpolation() $map must be exactly 2 values';
	}

	$dividend: map-get($map, nth($keys, 2)) - map-get($map, nth($keys, 1));
	$divisor: nth($keys, 2) - nth($keys, 1);

	// The slope
	$m: divide($dividend, $divisor);

	// The y-intercept
	$b: map-get($map, nth($keys, 1)) - $m * nth($keys, 1);

	// Determine if the sign should be positive or negative
	$sign: '+';

	@if $b < 0 {
		$sign: '-';
		$b: abs($b);
	}

	@return calc(#{$m * 100}vw #{$sign} #{$b});
}

/// list-sort
/// Sort a SASS list
/// @param $list - A SASS list
/// @returns A sorted SASS list
/// @requires function list-remove
/// @author Jake Wilson <jake.e.wilson@gmail.com>
@function list-sort($list) {
	$sortedlist: ();

	@while length($list) > 0 {
		$value: nth($list, 1);

		@each $item in $list {
			@if $item < $value {
				$value: $item;
			}
		}

		$sortedlist: append($sortedlist, $value, 'space');
		$list: list-remove($list, index($list, $value));
	}

	@return $sortedlist;
}

/// map-sort
/// Sort map by keys
/// @param $map - A SASS map
/// @returns A SASS map sorted by keys
/// @requires function list-sort
/// @author Jake Wilson <jake.e.wilson@gmail.com>
@function map-sort($map) {
	$keys: list-sort(map-keys($map));
	$sorted-map: ();

	@each $key in $keys {
		$sorted-map: map-merge(
			$sorted-map,
			(
				$key: map-get($map, $key),
			)
		);
	}

	@return $sorted-map;
}

/// list-remove
/// Remove an item from a list
/// @param $list - A SASS list
/// @param $index - The list index to remove
/// @returns A SASS list
/// @author Jake Wilson <jake.e.wilson@gmail.com>
@function list-remove($list, $index) {
	$new-list: ();

	@for $i from 1 through length($list) {
		@if $i !=$index {
			$new-list: append($new-list, nth($list, $i), 'space');
		}
	}

	@return $new-list;
}

@function strip-units($number) {
	@return divide($number, $number * 0 + 1);
}

@function get-unit($number) {
	@return unit($number);
}

@function rem($size) {
	$rem-size: divide(strip-units($size), 16) * 1rem;
	@return $rem-size;
}

@function lineheightex($size) {
	@debug inspect($size);
	$unit: get-unit($size);


	@if $unit == '%' {
		$size: strip-units($size);
		$size: divide($size, 100);
	} @else if $unit == 'px' {
		$size: strip-units($size);
		$size: rem($size);
		$size: strip-units($size);
	}

	@return $size * 2ex;
}

@function line-height($size) {
	$size: lineheightex($size);

	@return calc(0.025em + #{$size});
}

/// Get a dynamic crop value
///
/// @link http://text-crop.eightshapes.com/
///
/// @param {*} $line-height [1.5]
/// @param {*} $crop [0]
/// @param {*} $crop-line-height [1.3]
/// @param {*} $crop-font-size [36]

@function dynamic-line-crop($line-height: 1.5, $crop: 0, $crop-line-height: 1.3, $crop-font-size: 36) {
	@return divide(max(($crop + ($line-height - $crop-line-height) * divide($crop-font-size, 2)), 0), $crop-font-size);
}
