/// ======================================================================== ///
///
/// @copyright 2022 RIESTER
/// @group  scss
/// @name   _variables
/// @version   <<projectversion>>
/// ======================================================================== ///
$font-sans: var(--secondary-font);
$font-serif: var(--secondary-font);
$font-mono: var(--primary-font);
$text-color: var(--color-text-default);
$base-vertical-unit: 6px;
$base-line-multi: 4;
$base-font-size: 16px;
$ms-ratio: 1.414;
$paragraph-indent: true;
$paragraph-justify: false;
$load-typesetted: true;
$global-init: true; // By default set to false, loaded with typesetted

$breakpoints: (phone: 320px, tablet: 768px, desktop: 960px);
