/// ======================================================================== ///
///
/// @copyright 2022 RIESTER
/// @group  scss
/// @name   home
/// @version   <<projectversion>>
/// ======================================================================== ///

strong {
	font-weight: 700
}

.notion-callout {
	background-color: var(--color-text-default);
	color: #FFF;
	font-family: var(--primary-font)
}

.notion-heading {
	font-family: var(--secondary-font)
}

.notion-property__title {
	font-family: var(--secondary-font)
}

#block-skills {
	.notion-collection-list {
		flex-flow: row wrap;
	}

	.notion-collection-list__item {
		width: auto
	}

	.notion-toggle__trigger {
		display: none
	}

	.notion-toggle__trigger + .notion-property .notion-pill {
		background-color: transparent;
		font-size: var(--heading4-size);
		font-weight: 700
	}
}

#block-jobs {
	.notion-collection-list__item {
		flex-direction: column
	}

	.notion-collection-list__item-anchor {
		display: none
	}

	.notion-property__title {
		width: 100%;
		font-size: var(--heading4-size);
		font-weight: 700;

		.notion-property__title__icon-wrapper {
			display: none
		}

		.notion-semantic-string {
			width: 100%;
			font-size: var(--heading4-size);
			font-weight: 700;

			> span {
				border-bottom: none
			}
		}
	}

	.notion-collection-list__item-content {
		flex-direction: column;
		width: 100%
	}

	.notion-collection-list__item-property {
		width: 100%
	}

	.notion-collection-list__item-content {
		flex-direction: column;
		width: 100%;

		.notion-property__text {
			max-width: 100%;

			.notion-semantic-string {
				display: block;
				white-space: normal;
				width: 100%;
				word-break: normal;

				span {
					white-space: normal;
					width: 100%;
					word-break: normal;
					display: block;
				}
			}
		}
	}
}
